# core
django

#dev
django-debug-toolbar

# api
django-rest-framework
django-cors-headers

# database
psycopg2-binary

# calaccess / cdcc
django-calaccess-raw-data
django-postgres-copy

# utils
python-dateutil

# http
requests
selenium
pyvirtualdisplay
lxml

# job queue
celery==4.1 # in 4.2 group results from redis don't return
kombu==4.1
redis

# awesome
ipython
