# core
django

#dev
django-debug-toolbar

# api
django-rest-framework

# database
psycopg2-binary

# calaccess / cdcc
django-calaccess-raw-data
django-postgres-copy

# utils
python-dateutil

# http
requests
selenium
pyvirtualdisplay
lxml

# awesome
ipython
